---
---

@import "no-style-please";

body {
  font-family:
    Georgia,
    Cambria,
    "Times New Roman",
    Times,
    serif;

  font-weight: 400;
}

code,
pre,
kbd,
samp {
  font-family:
    ui-monospace,
    "SFMono-Regular",
    Consolas,
    "Liberation Mono",
    Menlo,
    monospace;
}

.katex {
  font-size: 1.02em;
}
